<!DOCTYPE kpartgui>
<kpartgui name="kscope">

<MenuBar>

	<Menu name="cscope"><text>&amp;Cscope</text>
		<Action name="openFile"/>
	</Menu>
	<Menu name="cscope"><text>&amp;Cscope</text>
		<Action name="cscope_rebuild"/>
		<Separator/>
		<Action name="cscope_references"/>
		<Action name="cscope_definition"/>
		<Action name="cscope_called"/>
		<Action name="cscope_calling"/>
		<Action name="cscope_text"/>
		<Action name="cscope_pattern"/>
		<Action name="cscope_file"/>
		<Action name="cscope_including"/>
		<Separator/>
		<Action name="cscope_quick_def"/>
		<Action name="cscope_call_tree"/>
	</Menu>

</MenuBar>

</kpartgui>
