<?xml version="1.0" encoding="UTF-8"?>
<gui name="kscope4"
     version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">

<MenuBar>

	<Menu name="vcs"><text>&amp;VCS</text>
		<Action name="vcs_commit"/>
		<Action name="vcs_push"/>
		<Action name="vcs_add"/>
		<Action name="vcs_diff"/>
		<Action name="vcs_pull"/>
	</Menu>

	<Menu name="cscope"><text>&amp;Cscope</text>
		<Action name="cscope_rebuild"/>
		<Separator/>
		<Action name="cscope_references"/>
		<Action name="cscope_definition"/>
		<Action name="cscope_called"/>
		<Action name="cscope_calling"/>
		<Action name="cscope_text"/>
		<Action name="cscope_pattern"/>
		<Action name="cscope_file"/>
		<Action name="cscope_including"/>
		<Separator/>
		<Action name="cscope_quick_def"/>
		<Action name="cscope_call_tree"/>
	</Menu>


	<Menu name="project"><text>&amp;Project</text>
		<Action name="project_new"/>
		<Action name="project_open"/>
		<Action name="project_cscope_out"/>
		<Action name="project_add_rem_files"/>
		<Action name="project_properties"/>
		<Separator/>
		<Action name="project_build"/>
		<Action name="project_remake"/>
		<Action name="project_clean"/>
		<Separator/>
		<Action name="project_close"/>
	</Menu>

</MenuBar>

</gui>
